name: DCO Check

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  dco-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check DCO
        uses: stevegrunwell/action-dco@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

